* {
    margin: 0;
    padding: 0;
}

.painting {
    display: block;
    float: left;
    padding: 10px;
    margin: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    font-family: Helvetica;
    color: #ccc;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

    .painting:hover {
        color: black;
        background: #f99;
        font-size: 24px;
        cursor: pointer;
        width: 400px !important;
        height: 400px !important;
        -moz-transform: rotate(360deg);
    }

    .painting img {
        max-width: 90%;
        max-height: 90%;
    }